{
  "raspberry_uuid": "beebc09e-f272-4471-8c3e-4e9021775876",
  "device_max": 1,
  "active_low": false,
  "pins": [
    {
      "device_id": 120,
      "device_number": 1,
      "pin_number": 17,
      "mode": "MANUAL",
      "power_threshold_kw": null,
      "is_on": false
    }
  ],
  "inverter_serial": "1000000165855382"
}